/*1er formulaire*/
.identity {
	background-color: #2574a9;
}
.yourIdentity {
 	background-color:#2574a9 ;
 }
 /*2ème formulaire*/
.livraison {
	 background-color: #9a12b3;
}
.yourAdress {
	background-color: #9a12b3; 
}
/*3eme formulaire*/
.reglement {
	background-color: #db0a5b;
}
.infoReglement {
	background-color: #db0a5b;
}

 